pipeline/0016_Lookup_and_set_data.json
{
	"name": "0016_Lookup_and_set_data",
	"properties": {
		"activities": [
			{
				"name": "Lookup a data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_lookup_data",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup a data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "x",
					"value": {
						"value": "@activity('Lookup a data').output.firstRow.City",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"x": {
				"type": "String"
			}
		},
		"folder": {
			"name": "CDU_Practice"
		},
		"annotations": [],
		"lastPublishTime": "2024-07-24T19:52:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}