pipeline/018_Lookup_Sql_Table.json
{
	"name": "018_Lookup_Sql_Table",
	"properties": {
		"activities": [
			{
				"name": "Lookup data from sql table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_lookup_sql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup data from sql table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "x",
					"value": {
						"value": "@activity('Lookup data from sql table').output.firstRow.EMPLOYEE_ID",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"x": {
				"type": "String"
			}
		},
		"folder": {
			"name": "CDU_Practice"
		},
		"annotations": [],
		"lastPublishTime": "2024-07-26T13:06:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}