pipeline/023_Filter_Data_And_Insert_In_Table.json
{
	"name": "023_Filter_Data_And_Insert_In_Table",
	"properties": {
		"activities": [
			{
				"name": "Lookup data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_lookup_copy_filter_sp",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter data",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup data').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@greaterOrEquals(int(item().Salary),100000)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter data').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stored procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[insert_emp_data]",
								"storedProcedureParameters": {
									"City": {
										"value": {
											"value": "@item().City",
											"type": "Expression"
										},
										"type": "String"
									},
									"Dept_id": {
										"value": {
											"value": "@int(item().Dept_id)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Firstname": {
										"value": {
											"value": "@item().Firstname",
											"type": "Expression"
										},
										"type": "String"
									},
									"ID": {
										"value": {
											"value": "@int(item().ID)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Lastname": {
										"value": {
											"value": "@item().Lastname",
											"type": "Expression"
										},
										"type": "String"
									},
									"Salary": {
										"value": {
											"value": "@int(item().Salary)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"State": {
										"value": {
											"value": "@item().State",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_db",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "CDU_Practice"
		},
		"annotations": [],
		"lastPublishTime": "2024-07-31T14:41:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}